spring-source-study/src/main/resources/mytag/mytag.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://www.springframework.org/schema/jdbc"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.592xuexi.com/schema/mytag"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">
	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" />
			<xsd:attribute name="name" type="xsd:string" />
			<xsd:attribute name="sex" type="xsd:string" />
			<xsd:attribute name="email" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>